.App {
  text-align: center;
}

:root {
  --faint: hsl(0,0%,95%);
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

nav a {
  padding: 0.5rem;
}

nav a:hover {
  background-color: var(--faint);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}

form label {
  text-align: left;
  margin-bottom: 1rem;
}

form input {
  display: block;
}

form input::placeholder{
  color: silver;
  font-style: italic;
}

#item-list ul {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 0 auto;
  /* align-items: center; */
  list-style-type: none;
  padding-left: 0;
}

#item-list ul a:not(:last-of-type){
  margin-bottom: 1rem;
}


#item-list ul li {
  padding: 0.5em;
  border: 1px solid silver;
  border-radius: 5px;
}

#item-list ul li:hover {
  background-color: var(--faint);
}